*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  color: rgb(244, 244, 244);
}

h3 {
  text-align: center;
  color: rgb(244, 244, 244);
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}
@media (min-width: 992px) {
  p {
    margin-bottom: 2rem;
  }
}

header {
  background-color: rgb(15, 15, 15);
}
header nav {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: rgb(244, 244, 244);
  text-decoration: none;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  margin-left: 2rem;
}

ul {
  width: 600px;
  justify-content: flex-end;
}

ul li {
  position: relative;
  margin-right: 0.5rem;
}

ul li:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(244, 244, 244);
  bottom: -4px;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  header nav {
    max-width: 1200px;
    margin: 0 auto;
  }
}
header nav img {
  max-height: 45px;
}
header nav .search-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: right;
  margin: auto;
  margin-right: 0;
}
header nav .search-container input {
  padding: 0.4rem;
  margin: 0 0.1rem;
  font-size: 0.8rem;
}
header nav .search-container button {
  padding: 0.4rem;
  font-weight: 600;
}
header nav .movie-container {
  color: white;
}

.hero {
  background-size: cover;
  color: rgb(244, 244, 244);
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}
@media (min-width: 480px) {
  .hero {
    height: 400px;
  }
}
.hero .hero-text {
  padding: 1.5rem;
  background-color: rgb(15, 15, 15);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
@media (min-width: 992px) {
  .hero .hero-text {
    max-width: 1200px;
    margin: 0 auto;
    flex: 0 0 100%;
  }
}

main {
  padding: 1rem;
}
@media (min-width: 992px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
}
main .movie-container {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
main .movie-container .movie-card {
  flex: 0 0 212px;
  margin-right: 1rem;
  position: relative;
}
main .movie-container .movie-card img {
  width: 100%;
  display: block;
}
main .movie-container .movie-card .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 0 1rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.8s;
}
main .movie-container .movie-card:hover .overlay {
  opacity: 1;
}

.simple-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.simple-modal .modal-box {
  background-color: rgb(15, 15, 15);
  border: 1px solid #333;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  position: relative;
  color: rgb(244, 244, 244);
}
.simple-modal .modal-box .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(244, 244, 244);
  font-size: 18px;
  cursor: pointer;
}
.simple-modal .modal-box h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}
.simple-modal .modal-box p {
  line-height: 1.5;
}

/* Back to top knapp */

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: none;
  font-size: 18px;
  transition: 0.3s;
}

#backToTop:hover {
  background-color: #555;
}
